.contatti-color {
  background-image: url("/public/cont.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  image-rendering: optimizeQuality;
}

.contact-link {
  text-decoration: none;
  color: #ffffff;
  transition: color 0.3s;
  font-size: xx-large;
}

.contact-link:hover {
  color: #a88bff;
}

.bg-opacity-10 {
  background-color: rgba(255, 255, 255, 0.05);
}

.contact-link:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

span {
  font-family: "Emilys Candy", serif;
}

.h5 {
  font-family: "Emilys Candy", serif;
}

.text1 {
  font-size: 1.35rem;
  line-height: 2;
  letter-spacing: 0.3px;
}

.pulse {
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(13, 202, 240, 0.6);
  }
  70% {
    transform: scale(1.1);
    box-shadow: 0 0 0 14px rgba(13, 202, 240, 0);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(13, 202, 240, 0);
  }
}


@media (max-width: 768px) {
  .cv-download-circle {
    margin-top: 2rem;
  }

  .text1 {
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.8;
  }
}
